/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 56px;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --title-color: #ffffff;
  --text-color: #999999;
  --body-color: #000000;

  /*========== Font and typography ==========*/
  --body-font: "Montserrat", sans-serif;
  --h1-font-size: 24px;
  --h3-font-size: 16px;
  --normal-font-size: 15px;
  --small-font-size: 13px;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --h1-font-size: 36px;
    --h3-font-size: 20px;
    --normal-font-size: 16px;
    --small-font-size: 14px;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 24px;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  border-bottom: 1px solid var(--text-color);
  z-index: var(--z-fixed);
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  letter-spacing: 3px;
}

.nav__toggle, .nav__close{
  font-size: 20px;
  color: var(--title-color);
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px){
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    border-bottom: 1px solid var(--text-color);
    width: 100%;
    padding-block: 72px 56px;
    transition: top 0.4s;
  }
}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  text-align: center;
}

.nav__link{
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
  letter-spacing: 3px;
  transition: color 0.3s;
}

.nav__link:hover{
  color: var(--title-color);
}

.nav__social{
  display: flex;
  justify-content: center;
  column-gap: 24px;
  margin-top: 48px;
}

.nav__social-link{
  font-size: 24px;
  color: var(--text-color);
  transition: color 0.4s;
}

.nav__social-link:hover{
  color: var(--title-color);
}

.nav__close{
  position: absolute;
  top: 18px;
  right: 24px;
}

/* Show menu */
.show-menu{
  top: 0; 
}

/*=============== HOME ===============*/
.home__container,.home__data,.home__content,.home__images,.home__info-content{
  display: grid;
}

.home__container{
  padding-block: 144px 48px;
  row-gap: 48px;
}

.home__data{
  text-align: center;
  row-gap: 56px;
}

.home__content{
  row-gap: 12px;
}

.home__stars{
  display: flex;
  column-gap: 4px;
  justify-content: center;
}

.home_title{
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.home__price{
  font-size: var(--h3-font-size);
}

.home__button{
  border: 3px solid var(--text-color);
  padding: 16px 24px;
  justify-self: center;
  color: var(--title-color);
  font-size: var(--small-font-size);
  letter-spacing: 3px;
  font-weight: var(--font-semi-bold);
  display: inline-flex;
  align-items: center;
  column-gap: 24px;
  transition: border-color 0.4s;
}

.home__button i{
  font-size: 20px;
}

.home__button:hover{
  border-color: var(--title-color);
}

.home__images{
  position: relative;
}

.home_img{
  width: 100%;
  margin-inline: auto;
}

.home__info{
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-top: 32px;
}

.home__info-img{
  width: 120px;
}

.home__info-content{
  row-gap: 24px;
}

.home__info-description{
  font-size: var(--small-font-size);
}

.home__button-link{
  color: var(--text-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  letter-spacing: 3px;
  justify-self: flex-start;
  transition: color 0.4s;
}

.home__button-link:hover{
  color: var(--title-color);
}

/* Swiper class */
.swiper{
  margin-inline: initial;
}

.swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: -32px;
}

.swiper-pagination.bullet{
  width: 16px;
  height: 2.5px;
  border-radius: 0;
  background-color: var(--text-color);
  opacity: 1;
  transition: background-color 0.3s, width 0.3s;
}

.swiper-pagination.bullet-active{
  width: 2.5px;
  background-color: var(--title-color);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: 10px;
  background-color: #1f1f1f;
}

::-webkit-scrollbar-thumb{
  background-color: #333333;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  .container{
    margin-inline: 16px;
  }

  .home__info{
    flex-direction: column;
    row-gap: 32px;
    text-align: center;
  }
  .home__button-link{
    justify-self: center;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .home__content{
    grid-template-columns: 400px;
    justify-content: center;
  }
}

/* For large devices */
@media screen and (min-width: 1023px){
  .nav{
    height: calc(var(--header-height) + 32px);
  }
  .nav__close,.nav__toggle{
    display: none;
  }
  .nav__menu{
    display: flex;
    align-items: center;
    column-gap: 64px;
  }
  .nav__list{
    flex-direction: row;
    column-gap: 64px;
  }
  .nav__social{
    margin: 0;
  }

  .home__container{
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 64px;
  }
  .home__data{
    text-align: initial;
  }
  .home__stars{
    justify-content: initial;
  }
  .home__button{
    justify-self: flex-start;
  }
  .home__info{
    margin: 0;
    flex-direction: column;
    row-gap: 20px;
    align-items: initial;
  }
}

@media screen and (min-width: 1152px){
  .container{
    margin-inline: auto;
  }

  .home__container{
    height: initial;
    grid-template-columns: repeat(3, 320px);
    justify-content: space-between;
    padding-block: 156px 64px;
  }
  .home__data{
    row-gap: 152px;
  }
  .home__stars{
    column-gap: 12px;
  }
  .home_img{
    width: 300px;
  }
  .home__info-img{
    width: 150px;
  }
  .home__info-description{
    font-size: var(--normal-font-size);
  }
  .home__info-content{
    row-gap: 120px;
  }
}

/* For taller devices */
@media screen and (min-width:1500px) and (min-height: 1032px) {
  .home__container{
    height: 100vh;
    align-items: center;
  }
}
